// babel文档链接：https://juejin.im/post/5c19c5e0e51d4502a232c1c6
// ------------------------------babel----------------------------------------
   // 作用：es6/es7...--->es5使浏览器/node等运行环境认识并执行
// ------------------------------工作原理--------------------------------------
   // 遵循AST
   // 步骤：解析、转换、生成
   // babel 本身不具有任何转化功能，它把转化的功能都分解到一个个 plugin 里面
      // 语法插件==> func(p1, p2,) 编译不通过报错
      // 转移插件==> (a)=>a ==>function(a) {return a}  (转译插件目前较多，为了解决这个问题，babel提供了一组插件的集合)
// ------------------------------执行顺序--------------------------------------
   // Plugin 会运行在 Preset 之前。
   // Plugin 会从前到后顺序执行。
   // Preset 的顺序则 刚好相反(从后向前) 这样必须先执行 stage-2 才能确保 babel 不报错
// ------------------------------stage -x----------------------------------------
   // 当年最新规范的草案，每年更新。低一级的 stage 会包含所有高级 stage 的内容，例如 stage-1 会包含 stage-2, stage-3 的所有内容。一般使用stage-2稳定
   // Stage 0 - 稻草人: 只是一个想法，经过 TC39 成员提出即可。
   // Stage 1 - 提案: 初步尝试。
   // Stage 2 - 初稿: 完成初步规范。
   // Stage 3 - 候选: 完成规范和浏览器初步实现。
   // Stage 4 - 完成: 将被添加到下一年度发布


{
    "presets": [
      ["env", {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        }
      }],
      "stage-2"
    ],
    "plugins": ["transform-vue-jsx", "transform-runtime"],
    // "env": {
    //   "test": {
    //     "presets": ["env", "stage-2"],
    //     "plugins": ["transform-vue-jsx", "transform-es2015-modules-commonjs", "dynamic-import-node"]
    //   }
    // }
  }
  