doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="initial-scale=1.0, user-scalable=no, width=device-width")
        title #{title}
        <!--[if lte IE 8]> 
        script.
            alert("检测您当前浏览器版本过低，建议升级浏览器版本")
        <![endif]-->
    body
        div#app